@use "../../assets/styles/_variables.scss" as *;

.user-profile-creation-progress-widget-wrapper {
  &__header {
    padding: 32px 24px;
    &__title {
      font-size: 22px;
      font-weight: 700;
    }
  }

  &__accordion-header {
    display: flex;
    align-items: center;

    &--green {
      color: $color-progress-percent;
    }

    img {
      padding-right: 16px;
    }
  }
}