@use "../../assets/styles/_variables.scss" as *;
@use "../../assets/styles/_mixins.scss" as *;

.wrapper {
  &__header {
    padding: 32px 24px;
    &__title {
      @include fontBold(22);
    }
  }

  &__accordion-header {
    display: flex;
    align-items: center;

    &--green {
      color: $color-progress-percent;
    }

    img {
      padding-right: 16px;
    }
  }
}