@use "../assets/styles/_variables.scss" as *;

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 45px;

  &__tasks-card {
    width: 100%;
    height: 100%;
    border: 1px solid $color-card-border;
    border-radius: 8px;
    padding: 16px;
    background-color: $color-progress-widget-bg;

    &__content {
      display: flex;
      flex-direction: column;
    }
  }
}