//main container
$color-container-bg: #EEEEEE;

// task card border color
$color-card-border: #CCCCCC;

//font color variables
$color-progress-text: #F2FBFA;

//progress bar widget variables
$color-progress-widget-bg: #FFFFFF;
$color-progress-percent: #00B797;
$color-progress-bar-bg: $color-progress-text;