@use "../../assets/styles/_variables.scss" as *;
@use "../../assets/styles/_mixins.scss" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-accordion-border;
  cursor: pointer;

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    color: $color-accordion-title-text;
    padding: 24px;
    @include fontRegular(18);

    &__expand {
      display: flex;
      align-items: center;

      span {
        padding-right: 8px;
        @include fontRegular(16);
        color: $color-accordion-expand-text;
      }
    }
  }

  &__content {
    padding: 16px;
  }
}